<li>
	{{burger}}

	<button class="devour-this" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Devour Me!{{else}}Make Another!{{/if}}
	</button>

  <button class="delete-this" data-id="{{id}}" >X</button>
</li>
